<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  
  <!-- LOOK AT THE PORT -->
<!--   <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/SOFTLIVE</property> -->
  <!-- !!!! -->
 
 
<!--     <property name="hibernate.connection.url">jdbc:postgresql://130.10.100.51:5432/SOFTLIVE</property> -->
<!-- 		<property name="hibernate.connection.url">jdbc:postgresql://130.10.200.51:5432/SOFTLIVE</property>  -->
<!-- <property name="hibernate.connection.url">jdbc:postgresql://130.10.100.51:5432/WBIDFC</property>-->
<!--    <property name="hibernate.connection.url">jdbc:postgresql://192.168.38.246:5432/SOFTLIVE</property>  -->
<!--    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/WBIDFC</property> -->
<!--    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/SoftliveTest</property> -->
<!-- <property name="hibernate.connection.url">jdbc:postgresql://130.10.20.55:5432/TEST</property> -->
 <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sims</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">root123</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="show.query">true</property>  
 </session-factory>
</hibernate-configuration>
